<div class="card">
  <div class="card-header">
    <h4>Pipes</h4>
  </div>
  <div class="card-body">
   <p>Tenemos diversas variables</p>
</div>
  <div class="card-footer text-muted">
    <p>Resultados</p>
    <p>{{sNombre | uppercase}}</p>
    <p>{{sNombre | lowercase}}</p>
    <p>{{sNombre | titlecase}}</p>
    <p>{{nPrecio | currency:'EUR'}}</p>
    <p>{{nValor | number:'3.1-2'}}</p>
    <p>{{dFecha | date:'yyyy-mm-dd, EEEE'}}</p>
    <p>{{dFecha | date:'fullDate' | titlecase}}</p>
    <pre>Object: {{oDatos | json}}</pre>
  </div>
</div>